{% extends "admin/base.html" %}

{% block content %}
<section>
  <div class="page-header">
    <h1>{{ title }}</h1>
    <a href="{{ url_for('equipos.listar_equipos', accion='nueva', curso_id=curso_id) }}" class="btn btn-primary">
      <span>+</span>
      Nuevo Equipo
    </a>
  </div>

  <div class="card-grid">
    {% for equipo in equipos %}
      <article class="card">
        <div class="card-content">
          
          <div class="card-info">
            <h2>{{ equipo.nombre }}</h2>
            <p><strong>Evaluación ID:</strong> {{ equipo.evaluacion_id }}</p>
            <p><strong>Estado:</strong> {{ 'Activo' if equipo.activo else 'Inactivo' }}</p>
          </div>

          <div class="card-actions">
            
            <a
                href="{{ url_for('equipos.administrar_integrantes', curso_id=curso_id, equipo_id=equipo.id) }}"
                class="btn-action btn-action--edit">
                👨‍🎓
            </a>

            <a href="{{ url_for('equipos.listar_equipos', accion='editar', curso_id=curso_id, id=equipo.id) }}" 
               title="Editar" 
               class="btn-action btn-action--edit">
              ✎
            </a>

            <form action="{{ url_for('equipos.eliminar', curso_id=curso_id, equipo_id=equipo.id) }}" 
                  method="POST" 
                  class="form-inline-block" 
                  onsubmit="return confirm('¿Estás seguro de que deseas eliminar este equipo?');">
              <button type="submit" title="Eliminar" class="btn-action btn-action--delete">
                ✕
              </button>
            </form>

          </div>
        </div>
      </article>
    {% endfor %}
  </div>
</section>

{% if request.args.get('accion') == 'nueva' %}
<div class="modal-overlay">
  <div class="modal modal--sm">
    <div class="modal__header">
      <h2 class="modal__title">Nuevo Equipo</h2>
      <a href="{{ url_for('equipos.listar_equipos', curso_id=curso_id) }}" class="modal__close modal-close-btn">x</a>
    </div>
    <div class="modal__body modal__body--padded">
      <form action="{{ url_for('equipos.crear_nuevo_equipo', curso_id=curso_id, evaluacion_id=1) }}" method="POST">
        <div class="form-group">
          <label for="nombre">Nombre</label>
          <input type="text" id="nombre" name="nombre" required class="form-control">
        </div>
        <div class="form-group">
              <label for="evaluacion_id">
                  Evaluación
              </label>

              <select
                  id="evaluacion_id"
                  name="evaluacion_id"
                  required
                  class="form-control"
              >
                  <option value="">
                      Seleccione una evaluación
                  </option>

                  {% for evaluacion in evaluaciones %}
                      <option value="{{ evaluacion.id }}">
                          {{ evaluacion.titulo }}
                      </option>
                  {% endfor %}
              </select>
        </div>

        <div class="form-actions">
          <a href="{{ url_for('equipos.listar_equipos', curso_id=curso_id) }}" class="btn btn-outline">Cancelar</a>
          <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endif %}

{% if request.args.get('accion') == 'editar' %}
  {% set equipo_id = request.args.get('id')|int %}

  <div class="modal-overlay">
    <div class="modal modal--sm">
      <div class="modal__header">
        <h2 class="modal__title">Editar Equipo</h2>
        <a href="{{ url_for('equipos.listar_equipos', curso_id=curso_id) }}" class="modal__close modal-close-btn">x</a>
      </div>
      <div class="modal__body modal__body--padded">
        <form action="{{ url_for('equipos.actualizar', curso_id=curso_id, equipo_id=equipo_id) }}" method="POST">

          <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" id="nombre" name="nombre" required class="form-control" value="{{ equipo_actual.nombre }}">
          </div>
          <div class="form-group">
              <label for="evaluacion_id">
                  Evaluación
              </label>

              <select
                  id="evaluacion_id"
                  name="evaluacion_id"
                  required
                  class="form-control"
              >
                  <option value="">
                      Seleccione una evaluación
                  </option>

                  {% for evaluacion in evaluaciones %}
                      <option value="{{ evaluacion.id }}" {% if evaluacion.id == equipo_actual.evaluacion_id %}selected{% endif %}>
                          {{ evaluacion.titulo }}
                      </option>
                  {% endfor %}
              </select>
          </div>
          <div class="form-group">
            <label class="form-group-checkbox">
              <input type="checkbox" name="activo" {% if equipo_actual.activo %}checked{% endif %}>
              <strong>Equipo Activo</strong>
            </label>
          </div>

          <div class="form-actions modal-actions-spacing">
            <a href="{{ url_for('equipos.listar_equipos', curso_id=curso_id) }}" class="btn btn-outline">Cancelar</a>
            <button type="submit" class="btn btn-primary">Guardar Cambios</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endif %}

{% endblock %}