<aside class="sidebar">
  <h2>Sistema</h2>

  <nav>
    <a class="{% if active_page == 'materias' %}active{% endif %}" href="{{ url_for('materias') }}">Materias</a>
    <a class="{% if active_page == 'alumnos' %}active{% endif %}" href="{{ url_for('alumnos_page') }}">Alumnos</a>
    <a class="{% if active_page == 'material' %}active{% endif %}" href="{{ url_for('material') }}">Material</a>
    <a class="{% if active_page == 'evaluaciones' %}active{% endif %}" href="{{ url_for('evaluaciones_page') }}">Evaluaciones</a>
    <a class="{% if active_page == 'metricas' %}active{% endif %}" href="{{ url_for('metricas') }}">Métricas</a>
  </nav>
</aside>
