<header class="topbar">
  <a class="{% if active_page == 'material' %}active{% endif %}" href="{{ url_for('material') }}">
    <span class="material-symbols-rounded">menu_book</span>Materiales
  </a>
  <a class="{% if active_page == 'alumnos' %}active{% endif %}" href="{{ url_for('alumnos_page') }}">
    <span class="material-symbols-rounded">person</span>Alumnos
  </a>
  <a class="{% if active_page == 'evaluaciones' %}active{% endif %}" href="{{ url_for('evaluaciones_page') }}">
    <span class="material-symbols-rounded">assignment_turned_in</span>Evaluaciones
  </a>
  <a class="{% if active_page == 'metricas' %}active{% endif %}" href="{{ url_for('metricas') }}">
    <span class="material-symbols-rounded">bar_chart</span>Métricas
  </a>
</header>