{% extends "admin/base.html" %}

{% block extra_head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/pages/curso.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/pages/perfil.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/components/paginador.css') }}">
{% endblock %}

{% block content %}
<section>
  {% include "admin/perfil/components/_hero_estudiante.html" %}
  {% include "admin/perfil/components/_info_cards_estudiante.html" %}
  {% include "admin/perfil/components/_curso_actual.html" %}
  {% include "admin/perfil/components/_evaluaciones.html" %}
  {% include "admin/perfil/components/_acciones.html" %}
</section>
{% endblock %}
